div.navbar.navbar-fixed-top
  div.navbar-inner
    div.container
      div.nav-collapse.collapse
        ul.nav.nav-tabs
          li
            a(href='/home')
              strong ｺﾎﾟｫ.com
          li
            a(href='/home')
              strong HOME
          li
            a(href='/ranking')
              strong ランキング
