!!! 5
title = 'home'

html(lang="ja")
  include includes/header
  body
    include includes/navbar
    div.container
      div.hero-unit.top-margin.span8
        h2 ｺﾎﾟｫ、はじめませんか？
        p ｺﾎﾟｫ.comをはじめるには、下のサインインボタンを押すだけ！
        a.btn.btn-primary.btn-large(href='/auth/twitter') サインイン
      div.page-header
        h1 ｺﾎﾟｫ.comとは？

      div.span6
        h3 ｺﾎﾟり
        div.well ｺﾎﾟｫ.comに登録してTwitterで「ｺﾎﾟｫ」とつぶやくと10ポイント獲得！
      div.span6
        h3 ｺﾎﾟ返し
        div.well ユーザーのｺﾎﾟりに対して「ｺﾎﾟｫ」とリプライを飛ばすと高得点！リプライが早ければ早い程たくさんポイントがもらえるよ！
      div.span6
        h3 ｺﾎﾟられ
        div.well ｺﾎﾟられたユーザーももれなく10ポイント進呈！
