!!! 5
title = '退会完了'
html(lang="ja")
  include includes/header
  body
    div.navbar.navbar-fixed-top
      div.navbar-inner
        div.container
          div.nav-collapse.collapse
            ul.nav
              li
                a(href='./home')
                  strong ｺﾎﾟｫ.com
    div.container
      div.top-margin 退会処理が完了しました。ご利用ありがとうございました。